@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Prata, serif;
	background:-webkit-gradient(linear, 50% 50%, 30% 100%, from(#99ff33), to(#00ccff));
	display: flex;
	height: 120vh;
}
.grid{
	background: #fff
	height: 120vh;/*le da la altura a la imagen*/
	width: 90*%;
	max-width: 1023px;
	margin-left: 155px;
	/*margin: auto;*/ /*para que lo centre porque con flex box lo centra vertical y horizontalmente*/
	box-shadow: 0 0 30px -10px rgba(138, 135, 135, 0.5);
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
	overflow: hidden; /*para que todo lo que sobresale del elemento grid desaparezca*/
}
/*creamos un pseudo elemento*/
.grid::before{
	content: "";
	grid-column: 1/-1;
	grid-row: 1/-1; /*para que lea desde la primera hasta la última*/
	background-image: url(imagenes/ushcru.jpg);
	background-size: cover; /*para que se ajuste al elemento*/
	background-position: right top;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*es el inicio de la animación*/
	animation: show 2s cubic-bezier(.24,.5,.8,.3) forwards; /*el forwards se pone para que la imagen quede en pantalla*/
	/*ease hace que la animación empieza rápido y termina lento, para regular ésto ir a cubic-bezier.com y regular en la curva la forma
	en que quiero que se mueva. también se puede poner ease-auot que anima directamente*/
}
.grid_texts{
	grid-row: 2/-2; /*va de la linea 2 a la penúltima linea*/
	grid-column: 2/8;
	z-index: 1; /*para que la imagen no tape el texto sino al reves*/
	display: flex; /*pone los titulos uno al lado del otro*/
	flex-direction: column; /*para poner el grupo en columnas*/
	justify-content: center; /*para centrarlo verticalmente ya que estamos trabajando en columnas*/
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	animation: show 1s 2s cubic-bezier(.24,.5,.8,.3) forwards; /*para que espere 1 segundo para que primero pase la imagen y
	despues los titulos*/
}
.grid_title{
	font-size: 3rem;
	color: white;
}
.grid_title--transform{
	font-family: 'Playfair Display', serif;
	font-size: /*4.5*/3.5rem;
	font-weight: bold;
}
@keyframes show{
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
#cabecera{
	width: 960px;
	height: 250px;
	margin-top: 20px;
	margin-left: 175px;
	box-shadow: 5px 5px 7px rgba(51, 153, 51, 102);
	z-index: 99;
	border: 2.5px solid #006600;
	border-radius: 7px;
}
h1{
	font-family: 'Noto Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.destacado{
	font-weight: Verdana;
	font-size: 20px;
	margin: 10;
	text-align: justify;
}
h3{
	color: blueviolet;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

#botonera_principal ul li a:hover {
	background-color: lavenderblush;/*#00ff99*/; /*se le puede modificar el paddin para que se agranden los botones al pasar el mouse y poner una i*/
}
#excursiones{
	height: 80px;
	width: 460px;
	margin-left: 400px;
	margin-top: 30px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border: solid;
	border: 2.5px solid #006600;
	border-radius: 7px;
	padding-bottom: 0px;
	padding-top: 10px;
	box-shadow: 5px 5px 7px rgba(107, 107, 71, 102);
}
footer{
	width: 960px;
	height: 50px;
	border: 2.5px solid #4d0099;
	border-radius: 7px;
	box-shadow: 5px 5px 7px rgba(153, 153, 255, 102);
	margin-top: 30px;
	margin-left: 175px;
}

@media all and (max-width: 599px) {

header, section, footer {
	width: 100%;
}
.grid{
	width: 100%;
	max-width: 100%;
	margin-left: 0px;
}
.grid_title{
	font-size: 2rem;
}
.grid_title--transform{
	font-size: 2.5rem;
}
#cabecera{
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-bottom: 40px;
}
#excursiones{
	width: 100%;
	height: auto;
	margin-left: 0px;
}
footer{
	width: 100%;
	height: auto;
	margin-left: 0px;
}
